<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestGroup">
 
 <listeners>
 	<listener class-name= "com.qa.ExtentReportListener.ExtentReport" />
 </listeners>
  <test name="AmazonEcommerce">
  
  
  <classes>
    <class name="com.qa.amazon.testcases.HomepageTestcases"/>
    <class name="com.qa.amazon.testcases.TodayDealsTestcases"/> 
      
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->